

$primary-color: #6366F1;
$accent-color: #3f83f8;
$text-color: #333333;
$black-color: black;
$button-color: rgba(0, 93, 172, 1);;
$dark-link-color: #043eba;
$disabled-button:#576c9a;
$text-white-color: #ffffff;
$dull-white: #dcd7d7;
$light-gray: #f0f0f0;
$gray: #626060;
$dark-gray: #555;
$mid-gray: #c1baba;
$brown-color: brown;
$green-color: rgb(85, 150, 85);
$dark-green: rgb(45, 114, 45);
$yellow-color: rgba(245, 130, 32, 1);
$red-color: rgb(246, 10, 10);
$link-color: rgba(0, 93, 172, 1);
$light-black-color:rgba(69,69,69,1);
$very-light-gray:rgba(69, 69, 69, 0.6);
$light-green-color:rgba(0, 170, 85, 1);
$header-color:rgba(0,0,0,1);
$green:rgba(1, 170, 85, 1);