<header>
<app-headers></app-headers>
      <!-- Background image -->
      <div id="intro-example" class="p-5 text-center bg-image"
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); position: absolute; top: 0; left: 0; right: 0; bottom: 0;">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white" data-mdb-theme="dark">
            <h1 class="mb-3">Welcome to Keyboard Crackers</h1>
            <h5 class="mb-4">Best & free guide of responsive web design</h5>
            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2"
              href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow" target="_blank">Get Started</a>
            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
              target="_blank" role="button">Download MDB UI KIT</a>
          </div>
        </div>
      </div>
    </div>
    <button routerLink="/chat" class="btn btn-info chatbot-icon">
      <i class="bi bi-chat"></i> Chatbot
    </button>
    </header>
      <!-- Background image -->
    
      <!-- Main -->
      <main class="mt-5">
        <div class="container">
          <!--Section: Content-->
          <!-- <section>
            <div class="row">
              <div class="col-md-6 gx-5 mb-4">
                <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>
      
              <div class="col-md-6 gx-5 mb-4">
                <h4><strong>Facilis consequatur eligendi</strong></h4>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                  eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                  sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                </p>
                <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                  nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                  alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                </p>
              </div>
            </div>
          </section> -->
          <!--Section: Content-->
      
          <hr class="my-5" />
      
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Facilis consequatur eligendi</strong></h4>
      
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Quiet Space</h5>
                    <p class="card-text">
                      Find your calm with yoga and meditation
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Get Fit</h5>
                    <p class="card-text">
                     Stay active with your presonalized daily fitness tracker
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Lets Learn</h5>
                    <p class="card-text">
                      Explore courses to enhance your mental well-being
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Chill Zone</h5>
                    <p class="card-text">
                     Unwind the soothing music and fun games
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Fuel Up</h5>
                    <p class="card-text">
                      Nourish your mind and body with healthy food choice
                    </p>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img
                         src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                         class="img-fluid"
                         />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Gather Grow</h5>
                    <p class="card-text">
                      Connect and thrive with our blog writing community
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Content-->
          <hr class="my-5" />
        </div>
      </main>
      <!-- Main -->
    
      <!-- Footer -->
      <footer class="bg-light text-lg-start">
        <div class="py-4 text-center">
          <a
             role="button"
             class="btn btn-primary btn-lg m-2" data-mdb-ripple-init
             href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
             rel="nofollow"
             target="_blank"
             >
              Get Started - Login
          </a>
          <a
             role="button"
             class="btn btn-primary btn-lg m-2" data-mdb-ripple-init
             href="https://mdbootstrap.com/docs/standard/"
             target="_blank"
             >
            New User - Register
          </a>
        </div>
      
        <hr class="m-0" />
      
        <div class="text-center py-4 align-items-center">
          <p>Follow us on social media</p>
          <a
             href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
             class="btn btn-primary m-1" data-mdb-ripple-init
             role="button"
             rel="nofollow"
             target="_blank"
             >
            <i class="fab fa-youtube"></i>
          </a>
          <a
             href="https://www.facebook.com/mdbootstrap"
             class="btn btn-primary m-1" data-mdb-ripple-init
             role="button"
             rel="nofollow"
             target="_blank"
             >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
             href="https://twitter.com/MDBootstrap"
             class="btn btn-primary m-1"
             role="button"
             rel="nofollow"
             target="_blank"
             >
            <i class="fab fa-twitter"></i>
          </a>
          <a
             href="https://github.com/mdbootstrap/mdb-ui-kit"
             class="btn btn-primary m-1" data-mdb-ripple-init
             role="button"
             rel="nofollow"
             target="_blank"
             >
            <i class="fab fa-github"></i>
          </a>
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">keyboardCrackers.com</a>
        </div>
        <!-- Copyright -->
      </footer>
        <!-- Footer -->
