<div>
    <h1>Password reset</h1>
    <form (ngSubmit)="resetPassword()">
       <div>
        <label for="email">Email:</label>
        <input id="email" type="email" [(ngModel)]="formData.email" name="email" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" [(ngModel)]="formData.new_password" name="new_password" required />
      </div>
      <div>
        <label for="answer">Security Answer:</label>
        <input id="answer" [(ngModel)]="formData.answer" name="answer" required />
      </div>
      <button type="submit">Password reset</button>
    </form>
  
  </div>
  

